{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load avatar_tags %}

{% block content %}
    <h2>{% trans "Dashboard" %}</h2>
    <div class="row">
        <div class="col-lg-6">
            <h4>{% trans "Minecraft Accounts" %}</h4>
            <div class="row">
                {% for minecraft in request.user.minecraft_accounts.all %}
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <img src="{% avatar minecraft.profile "64x64" %}">
                    </div>
                </div>
                {% endfor %}
            </div>
            <a href="{% url "minecraft:list" %}" class="btn btn-primary">{% trans "Manage Minecraft Accounts" %}</a>
        </div>

        <div class="col-lg-6">
            <h4>{% trans "Applications" %}</h4>
            <a href="{% url "app:list" %}" class="btn btn-primary">{% trans "Manage Applications" %}</a>
        </div>
    </div>
{% endblock %}
